<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>linkunbound-shell</string>
	<key>LSUIElement</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Web URL</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>NSDesktopFolderUsageDescription</key>
	<string>LinkUnbound opens a web page you double-clicked on your Desktop with the browser you pick.</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>LinkUnbound opens a web page you double-clicked in your Documents with the browser you pick.</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>LinkUnbound opens a web page you double-clicked in your Downloads with the browser you pick.</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Web document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
				<string>public.xhtml</string>
				<string>public.svg-image</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
