@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
  background: transparent;
}

body {
  font-family: "Segoe UI Variable Text", "Segoe UI", system-ui, sans-serif;
  user-select: none;
}
